body {
  font-family: 'Brush Script MT', cursive;
  background-color: rgb(230, 237, 247);
}

#title{
  margin-bottom: 4px
}

#name{
  margin-top: 4px
}

.semester{
  outline: 2px solid black;
  margin-top: -2px;
  margin-bottom: -2px;
}

.semester-title{
  margin-top: 4px;
  margin-bottom: 4px
}

.class{
  margin-bottom: 5px
}

.post h2 {
  margin-top: 4px;
}

#feed {
  display: flex 
}

#posts {
  width:80%;
  flex: 4;
  margin-right: 10px;
}

#gh {
  width: 19%;
  flex: 1;
  float:right;
  outline: 2px solid black;
}
