@import '../../scss/index.scss';

.post {
    border-radius: 15px;
    background-color: $light;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-body {
    a {
        color: darkblue;
    }
    p {
        font-size: larger;
    }
    img {
        @extend .img-fluid
    }
}