// Required
@import "~bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";

// Default variable overrides
$primary: #4472C4;


// Required
@import "~bootstrap/scss/variables";

$body-bg: $gray-100;
$body-color: $gray-800;

$navbar-dark-bg: shift-color($primary, 50%);
.navbar{
  background-color: $navbar-dark-bg;
}

$navbar-dark-active-color: color-contrast($navbar-dark-bg);
$navbar-dark-hover-color: color-contrast($navbar-dark-bg);
$navbar-dark-color: shift-color($navbar-dark-active-color, 20%);

$jumbo-dark: shift-color($primary, 80%);
$jumbo-light: color-contrast($jumbo-dark);

.jumbotron{
  &.dark{
    background: $jumbo-dark;
    color: $jumbo-light;
  }
  &.light{
    background: $jumbo-light;
    color: $jumbo-dark;
  }
  &.none{
    background: $body-bg;
    color: $body-color;
  }
}

.pdf {
  position: relative;
  padding-top: 85%; /* Your percentage */
  margin-left: 16%;
  margin-right: 16%;
}
.pdf > embed {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

@include media-breakpoint-down(md){
  .nav-item{
    transform-origin: center left
  }
}
@include media-breakpoint-up(md){
  .nav-item{
    transform-origin: center center
  }
}

@import "~bootstrap/scss/maps";
//@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Optional Bootstrap components here
// Layout & components

@import '~bootstrap/scss/bootstrap.scss';

/*// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #4472C4;
$secondary: #163B7A;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: lighten($primary, 40%);
$dark: darken($primary, 40%);

//custom color to be mapped
$body-bg: $secondary;
$body-color: $light;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';*/