// Required
@import "~bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "~bootstrap/scss/functions";

// Default variable overrides
$primary: #4472C4;

// Required
@import "~bootstrap/scss/variables";

$body-bg: $gray-100;
$body-color: $gray-800;

$navbar-dark-color: shift-color($primary, 50%);
$navbar-light-color: $gray-100;
$navbar-light-hover-color: shift-color($navbar-light-color, -20%);

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Optional Bootstrap components here
// Layout & components

.navbar{
  background: $navbar-dark-color;
  color: $navbar-light-color;
}

@import '~bootstrap/scss/bootstrap.scss';

/*// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #4472C4;
$secondary: #163B7A;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: lighten($primary, 40%);
$dark: darken($primary, 40%);

//custom color to be mapped
$body-bg: $secondary;
$body-color: $light;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';*/