@import "@catppuccin/palette/scss/mocha";

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/maps';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

$font-family-sans-serif: 'Ubuntu', sans-serif;
$theme-colors: map-merge($theme-colors, (
    "primary": $sky,
    "secondary": $sapphire,
    "success": $green,
    "info": $blue,
    "warning": $yellow,
    "danger": $red,
    "light": $blue,
    "dark": $base,
));

$utilities-colors: map-merge($theme-colors, $utilities-colors);

$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

@import "../../node_modules/bootstrap/scss/bootstrap";

$body-background-color: color-mix(in oklab, $subtext1, $lavender);
body {
    background-color: $body-background-color;
}