// @import "mocha";
// sass is also part of the npm package:
@use "@catppuccin/palette/scss/mocha";

body {
    background: mocha.$base;
    color: mocha.$text;
}

.menubar {
    background-color: mocha.$blue;
    color: mocha.$text;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    margin-right: 10px;
}
